#canvas {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #181818;
    overflow: auto;
    flex: 1;
    border-right: 1px solid #444;

    #connections {
        z-index: 8;
    }

    #nodes,
    #connections {
        position: absolute;
        width: 5000px;
        height: 5000px;
        top: 0;
        left: 0;
    }
}
