body {
    margin: 0;
    background-color: #000;
    font-family: 'Inter', sans-serif;
    user-select: none;

    #react-mount,
    #app {
        width: 100%;
        height: 100%;
    }

    #app {
        display: flex;
    }
}

@import '../components/App/App';
@import '../components/Canvas/Canvas';
@import '../components/Dropdown/Dropdown';
